name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # 或者你的默认分支

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'  # 或者你需要的Node.js版本

      - name: Install dependencies
        run: npm install

      - name: Install css
        run: npm i -g postcss-cli

      - name: test
        run: ls -l
      - name: test1
        run: pwd

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: npm run build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GH_PAGES }}
          publish_dir: ./public
